# Python artifacts
*.pyc
__pycache__/
*.pyo
*.pyd

# Environment
.env
venv/
env/
ENV/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE and OS
.vscode/
.idea/
.DS_Store
*.sublime-project
*.sublime-workspace

__pycache__/
*.pyc
db.sqlite3
venv/
.env
staticfiles/